<footer class="footer bg-dark py-3 mt-auto"> <%# margin-top: auto so footer is at bottom of body%>
    <div class="container">
        <span class="text-muted">YelpCamp 2022&copy</span>
    </div>
</footer>